#button.selected, #button.hit {
    -fx-background-color: #0f0;
}

.progress-indicator {
    -fx-progress-color: #0f0;
}

#button {
    -fx-background-color: #fff;
    -fx-border-color:black;
    -fx-border-width: 1;
}

#button.miss, #button.hitmine {
    -fx-background-color: #f00;
}


#button.missmine {
    -fx-background-color: #686868;
}

.label {
    -fx-font-size: 20px;
}